.navigation,
.links {
  display: flex;
  flex-direction: column;
}

.navigation {
  gap: 3rem;
  margin-top: 3rem;
  padding: 0 2rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.titleContainer {
  flex: 1 1;
  padding: 0.5rem 0.25rem;
  border-radius: 0.5rem;
  background-color: var(--theme-secondary-color);
}

.title {
  font-size: 1.35rem;
  font-weight: 500;
  color: var(--orange-color);
  text-align: center;
}

.links {
  gap: 1.75rem;
}

.link {
  font-size: 1.25rem;
  transition: all 0.25s linear;
}

.link:hover {
  transform: translateX(1rem);
}

.link:active {
  opacity: 0.8;
}

.link_active {
  color: var(--orange-color);
}

.link_active:hover {
  transform: translateX(0);
}

.link_active:active {
  opacity: 1;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.button {
  color: var(--primary-color);
  background-color: var(--theme-secondary-color);
}

@media (max-width: 960px) {
  .navigation {
    margin: 0;
    padding: 1.5rem;
    gap: 1.75rem;
  }

  .title {
    font-size: 1.25rem;
  }

  .links {
    gap: 1.25rem;
  }
}

@media (max-width: 600px) {
  .header {
    gap: 0.5rem;
  }

  .navigation {
    padding: 1rem;
    gap: 1.25rem;
  }

  .title {
    font-size: 1.1rem;
  }

  .link {
    font-size: 1rem;
  }

  .button {
    padding: 0.25rem 0.5rem;
    font-size: 0.85rem;
  }
}