.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

.inputs input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
  margin-top: 1rem;
}

.btn {
  flex: 1;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--primary-color);
}

.addBtn {
  background-color: var(--success-color);
}

.cancelBtn {
  background-color: var(--red-color);
}