.modalEnter {
  opacity: 0;
}

.modalEnterActive {
  opacity: 1;
  transition: opacity .5s;
}

.modalExit {
  opacity: 1;
}

.modalExitActive {
  opacity: 0;
  transition: opacity .5s;
}

.modalOverlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 10;
}

.modalContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--secondary-color);
  background-color: var(--modal-bg-color);

  min-width: 25%;
  min-height: 10rem;

  padding: 2rem;
  border-radius: 1rem;
  pointer-events: auto;
  z-index: 15;
}

.modalClose {
  position: absolute;
  cursor: pointer;

  width: 2rem;
  height: 2rem;
  top: -0.75rem;
  right: -0.75rem;

  background-color: var(--modal-btn-bg-color);
  border-radius: 50%;

  transition: all 0.25s ease-in;
}

.modalClose:active {
  opacity: 0.6;
}

.modalClose::after,
.modalClose::before {
  content: '';
  position: absolute;

  top: 5px;
  left: 15px;
  width: 3px;
  height: 24px;
  border-radius: 0.5rem;

  background-color: var(--primary-color);
  transition: background 0.25s ease-in;
}

.modalClose::after {
  transform: rotate(45deg);
}

.modalClose::before {
  transform: rotate(-45deg);
}

.modalClose:hover::after,
.modalClose:hover::before {
  background-color: var(--orange-color);
}