.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wrapper {
  color: var(--primary-color);
  border: 1px solid var(--table-color);
  border-radius: 1.25rem;
  overflow: hidden;
  margin-top: 0.75rem;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 1rem;
  overflow: hidden;
}

.thead {
  background-color: var(--table-color);
}

.thead th {
  padding: 1rem 0.5rem;
}

.thead:first() {
  border-radius: 1rem;
}

.tbody {
  text-align: center;
}

/* trow */
.trow {
  transition: .2s ease-in;
}

.trow td {
  padding: 0.5rem 0.75rem;
  transition: .2s linear;
}

.trow:nth-child(odd) {
  background-color: var(--table-body-color-odd);
}

.trow:nth-child(even) {
  background-color: var(--table-body-color-even);
}

.trow.selected {
  background-color: var(--table-selected-row-color);
}

.selectable {
  cursor: pointer;
}

.trow.selectable:hover:not(.selected) td {
  background-color: var(--table-selected-row-color);
}

.actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 960px) {
  .wrapper {
    margin-top: 0.5rem;
  }

  .thead th {
    font-size: 0.95rem;
    font-weight: 500;
    padding: 0.5rem 0.25rem;
  }

  .trow {
    font-size: 0.85rem;
  }
}

@media (max-width: 600px) {
  .wrapper {
    margin-top: 0.25rem;
  }

  .actions {
    gap: 0.75rem;
  }
}